@model Portfolio.Models.Sites

@Html.Partial("~/Views/Shared/CheckUser.cshtml", Model)

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sites</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img_src)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img_src)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a_href)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a_href)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.a_href_target)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.a_href_target)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
