@model Portfolio.Models.Sites

@Html.Partial("~/Views/Shared/CheckUser.cshtml", Model)

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Sites</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title)
                @Html.ValidationMessageFor(model => model.title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.img_src, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(u => u.img_src, new { @readonly = "readonly", @Name = "" })
                @Html.TextBoxFor(m => m.img_src, new { type = "file" })
                @Html.ValidationMessageFor(model => model.img_src)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.a_href, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.a_href)
                @Html.ValidationMessageFor(model => model.a_href)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.a_href_target, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.a_href_target)
                @Html.ValidationMessageFor(model => model.a_href_target)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
